<!DOCTYPE html>
<html>
  <head>
    <title>User Details</title>
    <link rel='stylesheet' href='./public/css/stylesheet.cs' />
  </head>
  <body>
    <table border="1 px">
    	<thead>
    		<tr>
    			<th>Id</th>
    			<th>Name</th>
    			<th>Username</th>
    			<th>Email</th>
    			<th>City</th>
    			<th>Zip code</th>
    			<th>Latitude</th>
    			<th>Longitude</th>
    			<th>Website</th>
    		</tr>
    	</thead>
    		
    	<tbody>
    		<% for(var i=0; i < data.length; i++) { %>
			   <tr>
			     	<td><%= data[i].id %></td>
			     	<td><%= data[i].name %></td>
			     	<td><%= data[i].username %></td>
			     	<td><%= data[i].email %></td>
			     	<td><%= data[i].address.city %></td>
			     	<td><%= data[i].address.zipcode %></td>
			     	<td><%= data[i].address.geo.lat %></td>
			     	<td><%= data[i].address.geo.lng %></td>
			     	<td><%= data[i].website %></td>
			   </tr>
			<% } %>
    	</tbody>
    </table>
  </body>
</html>