<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div style="border: 1px, solid, blue">
    <app-counter [counterValue] = "cv" (eventemitter) = "counterChange($event)"></app-counter>
  </div>
</div>